/* src/components/Team.css */
.team {
    padding: 80px 0;
    background-color: #f4f4f4;
    text-align: center;
  }
  .container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .team h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #333;
  }
  
  .team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
  }
  
  .team-member {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .team-member img {
   width: 60%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .team-member p {
    font-size: 1.1rem;
    color: #777;
  }
  
  .team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  