body {
    margin: 0;
    padding: 0 20px;
    min-height: 100vh;
    background-color: #f4f4f4;
    align-items: center;
    text-align: center;
}

/* Banner Section */
.banner {
    background-image: url('../../../../assets/bgbanner.png');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Blog post content styles */
.blog-post {
    color: #333;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 120px;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        padding: 0 20px; /* Adjust padding on smaller screens */
    }

    .blog-post {
        padding: 0 20px; /* Reduce padding for better mobile view */
    }

    .max-w-4xl {
        padding: 1rem; /* Adjust padding on mobile */
    }
}
