.testimonials-section {
    text-align: center;
    padding: 40px;
  }
  
  .testimonials-section h2 {
    font-size: 3rem;
    color: #00838f;
    margin-bottom: 10vh;
  }
  
  .testimonial-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .testimonial-slider-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .testimonial-slider-inner {
    display: flex;
    transition: transform 0.5s ease; /* Smooth sliding transition */
    width: 70%;
  }
  
  .testimonial-card {
    margin: 13px 13px;
    min-width: 100%; 
    background-color: #e8f5f7;
    padding: 50px;
    border-radius: 23px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .testimonial-card p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;    
  }
  
  .testimonial-author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .testimonial-author img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .testimonial-author h3 {
    font-size: 2rem;
    color: #333;
  }
  
  .testimonial-author p {
    font-size: 0.9rem;
    color: #777;
  }
  
  .arrow-button {
    background: none;
    border: none;
    color: #d81b60;
    font-size: 6rem;
    cursor: pointer;
    margin: 0 20px;
    margin: 10px;
    transition: color 0.3s;
  }
  
  .arrow-button:hover {
    color: #b21850;
  }
  
  .left-arrow {
    transform: rotate(180deg); /* Rotate left arrow */
  }
  